POSTGRES_DB=agent_forge
POSTGRES_USER=agent_forge
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

AGENTFORGE_UID=1000
AGENTFORGE_GID=1000

RABBITMQ_USER=agent_forge
RABBITMQ_PASSWORD=change_me
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

AGENTFORGE_DEFAULT_ENGINE=litellm
AGENTFORGE_DEFAULT_MODEL=general-default
AGENTFORGE_MODELS_BY_AGENT={"architect":"architecture-primary"}
AGENTFORGE_MODELS_BY_PROJECT={}

LITELLM_BASE_URL=http://litellm:4000
LITELLM_API_KEY=change_me_gateway_key
LITELLM_TIMEOUT_SECONDS=600
